# Auto detect text files and perform LF normalization
* text=auto

# arquivos sempre com terminacao de linha unix
*.vhdl text eol=lf
*.sh text eol=lf

# arquivos sempre com terminacao de linha unix
*.bat text eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
